.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1229px;
  object-fit: cover;
}
.healthiconsuiUserProfileOu {
  width: 80px;
  position: absolute;
  top: 35px;
  left: 1679px;
  cursor: pointer;
}
.fitness {
  margin-block-start: 0;
  margin-block-end: 0;
}
.bunch {
  margin: 0;
}
.fitnessBunch1 {
  position: absolute;
  top: 0;
  left: -42.11%;
  line-height: 102.5%;
}
.fitnessBunch {
  position: absolute;
  top: 49px;
  left: 145px;
  width: 76px;
  height: 60px;
  text-align: center;
  font-size: var(--font-size-2xl);
  font-family: var(--font-laila);
}
.home,
.listOfGyms {
  top: 0;
  font-weight: 600;
  cursor: pointer;
}
.home {
  position: absolute;
  left: 0;
}
.listOfGyms {
  left: 117px;
}
.aboutUs,
.listOfGyms,
.menus {
  position: absolute;
}
.aboutUs {
  top: 0;
  left: 309px;
  font-weight: 600;
  cursor: pointer;
}
.menus {
  top: 58px;
  left: 752px;
  width: 417px;
  height: 34px;
  font-size: var(--font-size-xl);
}
.personalTrainers {
  position: absolute;
  top: 428px;
  left: 413px;
  font-size: var(--font-size-8xl);
  font-weight: 800;
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
  width: 1059px;
  height: 373px;
}
.fitnessBunch2,
.socialsIcon {
  position: absolute;
  top: 2695px;
  left: 809px;
  width: 268.8px;
  height: 83.25px;
}
.fitnessBunch2 {
  top: 2588px;
  left: 857px;
  font-size: var(--font-size-3xl);
  line-height: 102.5%;
  display: inline-block;
  font-family: var(--font-laila);
  text-align: center;
  width: 182px;
  height: 102px;
}
.frameItem {
  position: absolute;
  top: 1436px;
  left: 372px;
  width: 208px;
  height: 208px;
  object-fit: cover;
}
.frameInner {
  position: absolute;
  top: 1433px;
  left: 631px;
  border-radius: var(--br-md);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 878px;
  height: 206px;
}
.loremIpsumDolor {
  position: absolute;
  top: 1452px;
  left: 667px;
  line-height: 124.5%;
  color: var(--color-black);
  display: inline-block;
  width: 801px;
  height: 160px;
}
.ellipseIcon {
  position: absolute;
  top: 1430px;
  left: 364px;
  width: 224px;
  height: 224px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  top: 1433px;
  left: 631px;
  border-radius: var(--br-md);
  background-color: var(--white);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  width: 878px;
  height: 206px;
}
.frameChild1 {
  position: absolute;
  top: 2175px;
  left: 364px;
  width: 224px;
  height: 224px;
  object-fit: cover;
}
.frameChild2 {
  position: absolute;
  top: 2178px;
  left: 631px;
  border-radius: var(--br-md);
  background-color: var(--white);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  width: 878px;
  height: 206px;
}
.loremIpsumDolor2 {
  position: absolute;
  top: 2197px;
  left: 667px;
  line-height: 124.5%;
  color: var(--color-black);
  display: inline-block;
  width: 801px;
  height: 160px;
}
.frameChild3 {
  position: absolute;
  top: 1812px;
  left: 364px;
  width: 224px;
  height: 224px;
  object-fit: cover;
}
.frameChild4 {
  position: absolute;
  top: 1815px;
  left: 631px;
  border-radius: var(--br-md);
  background-color: var(--white);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  width: 878px;
  height: 206px;
}
.loremIpsumDolor3 {
  position: absolute;
  top: 1834px;
  left: 667px;
  line-height: 124.5%;
  color: var(--color-black);
  display: inline-block;
  width: 801px;
  height: 160px;
}
.rectangleParent {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 2925px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-open-sans);
}
