.fitness {
  margin-block-start: 0;
  margin-block-end: 0;
}
.bunch {
  margin: 0;
}
.fitnessBunch,
.mapsFullMap,
.socials {
  position: absolute;
  width: 182px;
  height: 102px;
}
.fitnessBunch {
  top: 0;
  left: 0;
  line-height: 102.5%;
  display: inline-block;
}
.mapsFullMap,
.socials {
  top: 2588px;
  left: 874px;
}
.mapsFullMap {
  border: 0;
  top: 1670px;
  left: 0;
  background-color: var(--color-white);
  width: 1056px;
  height: 733px;
  overflow: hidden;
}
.localizationBackgroun {
  position: absolute;
  top: 1862px;
  left: 1176px;
  border-radius: var(--br-3xl);
  background-color: var(--color-gold);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 565px;
  height: 350px;
}
.localization {
  position: absolute;
  top: 1986px;
  left: 1230px;
  font-size: var(--font-size-4xl);
  font-weight: 800;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  display: inline-block;
  width: 458px;
  height: 101px;
}
.opinions3Child,
.opinions3Item {
  position: absolute;
  top: 0;
  left: 4.89px;
  width: 200px;
  height: 200px;
}
.opinions3Item {
  left: 824.89px;
}
.opinions3Child1,
.opinions3Inner,
.starIcon,
.usersOpinion {
  position: absolute;
  top: 0;
  left: 624.89px;
  width: 200px;
  height: 200px;
}
.opinions3Child1,
.starIcon,
.usersOpinion {
  left: 424.89px;
}
.opinions3Child1,
.usersOpinion {
  left: 224.89px;
}
.usersOpinion {
  top: 250px;
  left: 332px;
  font-weight: 800;
  display: inline-block;
  width: 288px;
  height: 79px;
}
.opinions3 {
  position: absolute;
  top: 1285px;
  left: 433px;
  width: 1020px;
  height: 329px;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.gym3BackgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1229px;
  object-fit: cover;
}
.healthiconsuiUserProfileOu {
  width: 80px;
  position: absolute;
  top: 35px;
  left: 1679px;
  cursor: pointer;
}
.fitnessBunch2 {
  position: absolute;
  top: 0;
  left: -42.11%;
  line-height: 102.5%;
}
.fitnessBunch1 {
  position: absolute;
  top: 49px;
  left: 145px;
  width: 76px;
  height: 60px;
}
.home,
.listOfGyms {
  top: 0;
  font-weight: 600;
  cursor: pointer;
}
.home {
  position: absolute;
  left: 0;
}
.listOfGyms {
  left: 117px;
}
.aboutUs,
.listOfGyms,
.menus {
  position: absolute;
}
.aboutUs {
  top: 0;
  left: 309px;
  font-weight: 600;
  cursor: pointer;
}
.menus {
  top: 58px;
  left: 752px;
  width: 417px;
  height: 34px;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.gymNo3Container {
  position: absolute;
  top: 448px;
  left: 521px;
  font-size: var(--font-size-8xl);
  font-weight: 800;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 844px;
  height: 373px;
}
.gym3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1229px;
  font-size: var(--font-size-2xl);
}
.gym3Krakow {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 2925px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-laila);
}
