.macbookPro161Child,
.macbookPro161Item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1227px;
  object-fit: cover;
}
.macbookPro161Item {
  top: 2417px;
  left: -94px;
  width: 2014px;
  height: 1005px;
}
.macbookPro161Inner,
.rectangleDiv {
  position: absolute;
  top: 6145px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1096px;
}
.rectangleDiv {
  top: 4541px;
  height: 770px;
}
.macbookPro161Child1 {
  position: absolute;
  top: 6389px;
  left: 170px;
  border-radius: 0 0 var(--br-lg) var(--br-lg);
  background-color: var(--color-gold-100);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 636px;
  height: 355px;
}
.macbookPro161Child2 {
  position: absolute;
  top: 1227px;
  left: 0;
  background-color: #272725;
  width: 1920px;
  height: 458px;
}
.macbookPro161Child3 {
  position: absolute;
  top: 1685px;
  left: -1px;
  background-color: rgba(0, 88, 83, 0.05);
  width: 1731px;
  height: 733px;
}
.macbookPro161Child4,
.macbookPro161Child5 {
  position: absolute;
  top: 3422px;
  left: -16px;
  background-color: var(--color-gold-100);
  width: 1936px;
  height: 1119px;
}
.macbookPro161Child5 {
  top: 5311px;
  left: -11px;
  width: 1931px;
  height: 835px;
}
.brettJordanRkfjhcBf2aUnsplIcon {
  position: absolute;
  top: 1681px;
  left: -5px;
  width: 1929px;
  height: 741px;
  object-fit: cover;
}
.home,
.listOfGyms {
  top: 0;
  font-weight: 600;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.home {
  position: absolute;
  left: 0;
}
.listOfGyms {
  left: 117px;
  cursor: pointer;
}
.aboutUs,
.listOfGyms,
.menus {
  position: absolute;
}
.aboutUs {
  top: 0;
  left: 309px;
  font-weight: 600;
  cursor: pointer;
}
.menus {
  top: 63px;
  left: 752px;
  width: 417px;
  height: 34px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.clarityfavoriteLine {
  position: absolute;
  top: 53px;
  left: 1466px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.healthiconsuiUserProfileOu {
  width: 80px;
  position: absolute;
  top: 40px;
  left: 1679px;
  cursor: pointer;
}
.youWantTo {
  margin-block-start: 0;
  margin-block-end: 0;
}
.comeAlong {
  margin: 0;
}
.youWantToContainer {
  position: absolute;
  top: 431px;
  left: 385px;
  font-size: 75px;
  font-weight: 800;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.loremIpsumDolor {
  position: absolute;
  top: 682px;
  left: 685px;
  font-size: 18px;
  display: inline-block;
  width: 550px;
  height: 47px;
}
.rectangleButton {
  width: 214px;
  position: absolute;
  top: 825px;
  left: 854px;
}
.discover,
.ideaOfOur {
  position: absolute;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.discover {
  top: 828px;
  left: 910px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-black);
  cursor: pointer;
}
.ideaOfOur {
  top: 1257px;
  left: 744px;
  font-size: 45px;
}
.pexelsGustavoFring3885490RIcon {
  position: absolute;
  top: 156px;
  left: 364px;
  width: 702px;
  height: 468px;
  object-fit: cover;
  display: none;
}
.ellipseIcon,
.macbookPro161Child6,
.macbookPro161Child7 {
  position: absolute;
  top: 249px;
  left: 1178px;
  width: 184px;
  height: 184px;
  object-fit: cover;
  display: none;
}
.macbookPro161Child6,
.macbookPro161Child7 {
  top: 449px;
  left: 320px;
  width: 112px;
  height: 112px;
}
.macbookPro161Child7 {
  top: 173px;
  left: 238px;
  width: 156px;
  height: 156px;
}
.macbookPro161Child10,
.macbookPro161Child8,
.macbookPro161Child9 {
  position: absolute;
  top: 326px;
  left: 580px;
  width: 93px;
  height: 93px;
  object-fit: cover;
  display: none;
}
.macbookPro161Child10,
.macbookPro161Child9 {
  top: 237px;
  left: 1019px;
  width: 59px;
  height: 59px;
}
.macbookPro161Child10 {
  top: 577px;
  left: 1409px;
  width: 152px;
  height: 152px;
}
.macbookPro161Child11,
.macbookPro161Child12,
.macbookPro161Child13 {
  position: absolute;
  top: 546px;
  left: 1102px;
  width: 95px;
  height: 95px;
  object-fit: cover;
  display: none;
}
.macbookPro161Child12,
.macbookPro161Child13 {
  top: 220px;
  left: 1520px;
  width: 122px;
  height: 122px;
}
.macbookPro161Child13 {
  top: 580px;
  left: 83px;
}
.macbookPro161Child14,
.macbookPro161Child15 {
  position: absolute;
  top: 2037px;
  left: 257px;
  width: 263px;
  height: 263px;
}
.macbookPro161Child15 {
  top: 2040px;
  left: 1414px;
}
.macbookPro161Child16,
.macbookPro161Child17 {
  position: absolute;
  top: 2035px;
  left: 1031px;
  width: 263px;
  height: 263px;
}
.macbookPro161Child17 {
  left: 645px;
}
.macbookPro161Child18 {
  position: absolute;
  top: 1334px;
  left: 1379px;
  width: 308px;
  height: 308px;
}
.macbookPro161Child19,
.variousCup {
  position: absolute;
  top: 1348px;
  left: 810px;
  width: 300px;
  height: 300px;
}
.variousCup {
  height: 0.62%;
  width: 2.6%;
  top: 19.58%;
  right: 48.33%;
  bottom: 79.8%;
  left: 49.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fitnessBunch1 {
  position: absolute;
  top: 0;
  left: -42.11%;
  line-height: 102.5%;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.fitnessBunch {
  position: absolute;
  top: 49px;
  left: 145px;
  width: 76px;
  height: 60px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-laila);
}
.ideaAboutWebsiteChild {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 308px;
  height: 308px;
}
.manageYourCarnets {
  position: absolute;
  top: 126px;
  left: 24px;
  display: inline-block;
  width: 253px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.giveAnOpinion,
.listOfThe,
.loremIpsumDolor1,
.loremIpsumDolor2,
.loremIpsumDolor3 {
  position: absolute;
  top: 138px;
  left: 628px;
  display: inline-block;
  width: 190px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.giveAnOpinion,
.loremIpsumDolor1,
.loremIpsumDolor2,
.loremIpsumDolor3 {
  top: 133px;
  left: 1202px;
  width: 187px;
}
.loremIpsumDolor1,
.loremIpsumDolor2,
.loremIpsumDolor3 {
  top: 185px;
  left: 43px;
  font-size: var(--font-size-sm);
  text-align: left;
  width: 212px;
  height: 44px;
}
.loremIpsumDolor2,
.loremIpsumDolor3 {
  top: 194px;
  left: 624px;
}
.loremIpsumDolor3 {
  top: 180px;
  left: 1189px;
}
.cilpaperPlaneIcon {
  position: absolute;
  top: 65px;
  left: 1275px;
  width: 41px;
  height: 41px;
  overflow: hidden;
}
.ideaAboutWebsite {
  position: absolute;
  top: 1338px;
  left: 237px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1401px;
  height: 300px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.addYourNeighbourhood {
  position: absolute;
  top: 0;
  left: 162px;
  font-size: var(--font-size-6xl);
  color: var(--white);
}
.loremIpsumDolorContainer {
  position: absolute;
  top: 119px;
  left: 241px;
  color: var(--white);
}
.b,
.b1,
.k,
.k1 {
  position: absolute;
  top: 345px;
  left: 20px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  text-align: left;
  width: 76px;
  height: 60px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.b1,
.k,
.k1 {
  left: 412px;
  width: 88px;
}
.b1,
.k1 {
  left: 797px;
  width: 102px;
}
.k1 {
  left: 1176px;
  width: 76px;
}
.happyFitnessFreaksContainer,
.yearsOfExperienceContainer {
  position: absolute;
  top: 397px;
  left: 0;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.happyFitnessFreaksContainer {
  left: 370px;
}
.addedGyms,
.opinions {
  position: absolute;
  top: 413px;
  left: 764px;
}
.opinions {
  left: 1161px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.simpleLineIconscalender {
  position: absolute;
  top: 282px;
  left: 30px;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.antDesignbarChartOutlinedIcon,
.carbonmapIcon,
.gridiconshistory {
  position: absolute;
  top: 281px;
  left: 416px;
  width: 43px;
  height: 43px;
  overflow: hidden;
}
.carbonmapIcon,
.gridiconshistory {
  left: 801px;
}
.gridiconshistory {
  top: 282px;
  left: 1193px;
  width: 35px;
  height: 35px;
}
.infoAbNeighbourhood {
  position: absolute;
  top: 1805px;
  left: 337px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1252px;
  height: 451px;
  color: var(--color-black);
}
.top3Child,
.top3Inner,
.top3Item {
  position: absolute;
  object-fit: cover;
}
.top3Child {
  top: -7px;
  left: -7px;
  border-radius: var(--br-xl);
  width: 679px;
  height: 243px;
  cursor: pointer;
}
.top3Inner,
.top3Item {
  top: -4px;
  left: -4px;
  border-radius: var(--br-xl) 0 0 var(--br-3xs);
  width: 231px;
  height: 231px;
}
.top3Inner {
  top: 258px;
  left: -7px;
  border-radius: var(--br-xl);
  width: 679px;
  height: 243px;
  cursor: pointer;
}
.rectangleIcon {
  top: 261px;
  left: -4px;
  border-radius: var(--br-xl) 0 0 var(--br-3xs);
  width: 231px;
  height: 231px;
}
.rectangleIcon,
.top3Child1,
.top3Child2 {
  position: absolute;
  object-fit: cover;
}
.top3Child1 {
  top: 523px;
  left: -7px;
  border-radius: var(--br-xl);
  width: 679px;
  height: 243px;
  cursor: pointer;
}
.top3Child2 {
  top: 526px;
  left: -4px;
  border-radius: var(--br-xl) 0 0 var(--br-3xs);
  width: 231px;
  height: 231px;
}
.gymNo1,
.gymNo2,
.gymNo3,
.katowice,
.katowice1,
.krakw {
  position: absolute;
  top: 88px;
  left: 245px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.gymNo2,
.gymNo3,
.katowice,
.katowice1,
.krakw {
  top: 353px;
}
.gymNo3,
.katowice,
.katowice1,
.krakw {
  top: 618px;
  left: 239px;
}
.katowice,
.katowice1,
.krakw {
  top: 94px;
  left: 455px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  text-align: left;
}
.katowice,
.katowice1 {
  top: 360px;
  left: 445px;
}
.katowice1 {
  top: 627px;
}
.icroundNavigateNext {
  width: 33px;
  position: absolute;
  top: 95px;
  left: 591px;
}
.icroundNavigateNext1,
.icroundNavigateNext2,
.top3 {
  width: 33px;
  position: absolute;
  top: 363px;
  left: 591px;
}
.icroundNavigateNext2,
.top3 {
  top: 628px;
}
.top3 {
  top: 2573px;
  left: 638px;
  width: 659px;
  height: 753px;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.doWhatBrings,
.manageYourMembership {
  position: absolute;
  top: 4608px;
  left: 625px;
  font-size: var(--font-size-5xl);
}
.doWhatBrings {
  top: 0;
  left: 490px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.classesSectionChild {
  width: 172px;
  position: absolute;
  top: 106px;
  left: 0;
}
.classesSectionItem {
  width: 300px;
  position: absolute;
  top: 885px;
  left: 575px;
}
.classesSectionChild1,
.classesSectionChild2,
.classesSectionInner {
  width: 172px;
  position: absolute;
  top: 113px;
  left: 389px;
  cursor: pointer;
}
.classesSectionChild1,
.classesSectionChild2 {
  left: 786px;
}
.classesSectionChild2 {
  top: 106px;
  left: 1161px;
}
.discoverMore,
.top10 {
  position: absolute;
  top: 139px;
  left: 52px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.discoverMore {
  top: 905px;
  left: 607px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 231px;
  height: 30px;
}
.gymMembership {
  position: absolute;
  top: 129px;
  left: 411px;
}
.personalTrainer,
.workoutPlans {
  position: absolute;
  top: 129px;
  left: 830px;
}
.workoutPlans {
  top: 122px;
  left: 1205px;
}
.classesSectionChild3 {
  position: absolute;
  top: 273px;
  left: 0;
  border-radius: var(--br-sm);
  width: 434px;
  height: 489px;
  object-fit: cover;
}
.classesSectionChild4 {
  position: absolute;
  top: 611px;
  left: 0;
  border-radius: 0 0 var(--br-2xl) var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 434px;
  height: 176px;
}
.classesSectionChild5 {
  position: absolute;
  top: 273px;
  left: 508px;
  border-radius: var(--br-sm);
  width: 434px;
  height: 489px;
  object-fit: cover;
}
.classesSectionChild6 {
  position: absolute;
  top: 611px;
  left: 508px;
  border-radius: 0 0 var(--br-2xl) var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 434px;
  height: 176px;
}
.classesSectionChild7 {
  position: absolute;
  top: 273px;
  left: 1016px;
  border-radius: var(--br-sm);
  width: 434px;
  height: 489px;
  object-fit: cover;
}
.classesSectionChild8 {
  position: absolute;
  top: 611px;
  left: 1016px;
  border-radius: 0 0 var(--br-2xl) var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 434px;
  height: 176px;
}
.yogaClasses {
  position: absolute;
  top: 629px;
  left: 27px;
}
.calisthenicsCourse,
.cardio,
.session {
  position: absolute;
  top: 630px;
  left: 528px;
}
.cardio,
.session {
  left: 1043px;
}
.session {
  top: 629px;
  left: 284px;
}
.membershipIncluded {
  position: absolute;
  top: 620px;
  left: 766px;
  display: inline-block;
  width: 169px;
  height: 28px;
}
.membershipIncluded1 {
  position: absolute;
  top: 621px;
  left: 1294px;
}
.loremIpsumDolor5 {
  position: absolute;
  top: 679px;
  left: 16px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 329px;
  height: 52px;
}
.loremIpsumDolor6 {
  top: 674px;
  left: 521px;
  color: var(--color-gray-200);
  width: 330px;
  height: 44px;
}
.knowMore,
.knowMore1,
.knowMore2,
.loremIpsumDolor6,
.loremIpsumDolor7 {
  position: absolute;
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-align: left;
  display: inline-block;
}
.loremIpsumDolor7 {
  top: 674px;
  left: 1029px;
  color: var(--color-gray-200);
  width: 352px;
  height: 44px;
}
.knowMore,
.knowMore1,
.knowMore2 {
  text-decoration: underline;
  width: 115px;
  cursor: pointer;
}
.knowMore {
  top: 745px;
  left: 319px;
  height: 27px;
}
.knowMore1,
.knowMore2 {
  top: 748px;
  left: 828px;
}
.knowMore2 {
  left: 1333px;
}
.classesSection,
.ourCommunity {
  position: absolute;
  color: var(--color-black);
}
.classesSection {
  top: 3504px;
  left: 230px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1450px;
  height: 955px;
  cursor: pointer;
}
.ourCommunity {
  top: 5377px;
  left: 676px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 524px;
  height: 54px;
}
.enjoyAndMake,
.loremIpsumDolorContainer1,
.loremIpsumDolorContainer2,
.pickAGym {
  position: absolute;
  top: 161px;
  left: 107.34px;
  line-height: 124.5%;
  display: inline-block;
  width: 223.36px;
  height: 27.75px;
}
.enjoyAndMake,
.loremIpsumDolorContainer1,
.loremIpsumDolorContainer2 {
  top: 194.3px;
  width: 453.66px;
  height: 55.49px;
}
.enjoyAndMake,
.loremIpsumDolorContainer2 {
  height: 61.54%;
  width: 82.78%;
  top: 38.46%;
  left: 17.22%;
}
.enjoyAndMake {
  height: 30.77%;
  width: 64.3%;
  top: 0;
}
.value {
  position: absolute;
  top: 471.76px;
  left: 13px;
  width: 548px;
  height: 90.18px;
}
.loremIpsumDolorContainer3,
.makePayment {
  position: absolute;
  top: 349.68px;
  left: 107.34px;
  line-height: 124.5%;
  display: inline-block;
  width: 453.66px;
  height: 55.49px;
}
.makePayment {
  top: 316.38px;
  width: 172.03px;
  height: 27.75px;
}
.membershipInfoChild,
.membershipInfoInner,
.membershipInfoItem {
  position: absolute;
  top: 303px;
  left: 0;
  width: 96px;
  height: 96px;
}
.membershipInfoInner,
.membershipInfoItem {
  top: 464px;
}
.membershipInfoInner {
  top: 154px;
}
.basicFlame,
.mapsPin {
  position: absolute;
  height: 10.68%;
  width: 10.06%;
  top: 30.61%;
  right: 87.68%;
  bottom: 58.71%;
  left: 2.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.basicFlame {
  top: 85.77%;
  bottom: 3.55%;
}
.easyAndFast,
.membershipInfo {
  position: absolute;
  top: 0;
  left: 511px;
  font-size: var(--font-size-lg);
  text-align: center;
}
.membershipInfo {
  top: 4662px;
  left: 351px;
  width: 663px;
  height: 561.94px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.emailFieldChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--white);
  width: 421px;
  height: 68px;
}
.groupChild,
.yourEmail {
  position: absolute;
  top: 25px;
  left: 66px;
}
.groupChild {
  top: 5.5px;
  left: 3.5px;
  border-radius: 1px;
  width: 13px;
  height: 5.25px;
}
.emailField,
.groupItem,
.vectorParent {
  position: absolute;
  width: 21px;
  height: 18px;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  box-sizing: border-box;
}
.emailField,
.vectorParent {
  top: 25px;
  left: 31px;
}
.emailField {
  top: 6515px;
  left: 250px;
  width: 421px;
  height: 68px;
  text-align: left;
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--font-montserrat);
}
.groupInner {
  width: 180px;
  position: absolute;
  top: 202px;
  left: 0;
}
.subscribe,
.subscribeToOur {
  position: absolute;
  top: 224px;
  left: 50px;
  font-weight: 600;
}
.subscribeToOur {
  top: 0;
  left: 1px;
  font-size: 33px;
  line-height: 54px;
}
.rectangleParent {
  position: absolute;
  top: 6421px;
  left: 250px;
  width: 451px;
  height: 270px;
  font-size: 17px;
  color: var(--color-black);
}
.image22Icon {
  position: absolute;
  top: 0;
  left: 335px;
  border-radius: var(--br-2xs);
  width: 1228px;
  height: 536px;
  object-fit: cover;
}
.tweetAndCommunityChild {
  position: absolute;
  top: 347px;
  left: 580px;
  background-color: var(--white);
  box-shadow: 0 4px 59px 9px rgba(0, 0, 0, 0.05);
  width: 738px;
  height: 250px;
}
.tweetAndCommunityItem {
  position: absolute;
  top: 372px;
  left: 613px;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.loremIpsumDolor11 {
  position: absolute;
  top: 457px;
  left: 613px;
  display: inline-block;
  width: 679px;
  height: 82px;
}
.image29Icon,
.image30Icon {
  position: absolute;
  top: 45px;
  left: 1688px;
  border-radius: var(--br-2xs);
  width: 243px;
  height: 446px;
  object-fit: cover;
}
.image30Icon {
  left: 0;
  width: 210px;
}
.hijessi {
  margin: 0;
  color: var(--color-gray-300);
}
.jessicaJonesHijessiContainer {
  position: absolute;
  top: 384px;
  left: 709px;
  display: inline-block;
  width: 214px;
  height: 62px;
}
.span {
  color: var(--color-black);
}
.twitterForAndroid {
  color: #24a3cb;
}
.twitterForAndroidContainer {
  position: absolute;
  top: 550px;
  left: 616px;
  display: inline-block;
  width: 394px;
  height: 34px;
  color: var(--color-gray-300);
}
.tweetAndCommunity {
  position: absolute;
  top: 5490px;
  left: -11px;
  width: 1931px;
  height: 597px;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 0.38%;
  width: 2.66%;
  top: 19.46%;
  right: 78.43%;
  bottom: 80.16%;
  left: 18.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 0.13%;
  width: 0.17%;
  top: 19.58%;
  right: 79.3%;
  bottom: 80.29%;
  left: 20.53%;
}
.socialsIcon {
  position: absolute;
  top: 6938px;
  left: 731px;
  width: 268.8px;
  height: 83.25px;
  cursor: pointer;
}
.fitnessBunch2 {
  position: absolute;
  top: 6831px;
  left: 779px;
  font-size: var(--font-size-3xl);
  line-height: 102.5%;
  display: inline-block;
  font-family: var(--font-laila);
  width: 182px;
  height: 102px;
}
.financeCreditcardAdd {
  position: absolute;
  height: 0.83%;
  width: 3.47%;
  top: 68.82%;
  right: 77.36%;
  bottom: 30.35%;
  left: 19.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cardFrontChild {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  width: 455px;
  height: 255px;
}
.fitnessBunch3,
.johnDoe,
.memberSince110322Container {
  position: absolute;
  top: 93px;
  left: 57px;
  line-height: 124.5%;
  display: inline-block;
  width: 343px;
  height: 68px;
}
.johnDoe,
.memberSince110322Container {
  top: 188px;
  left: 52px;
  font-size: var(--font-size-base);
  width: 77px;
  height: 22px;
}
.memberSince110322Container {
  top: 182px;
  left: 313px;
  font-size: var(--font-size-xs);
  width: 97px;
  height: 42px;
}
.cardFrontInner,
.cardFrontItem {
  position: absolute;
  top: -0.83px;
  left: 0.83px;
  width: 117.05px;
  height: 37.7px;
}
.cardFrontInner {
  top: 32px;
  left: 1px;
  width: 455.05px;
  height: 22px;
}
.cardFrontChild1,
.lineIcon {
  position: absolute;
  top: -0.96px;
  left: 1.72px;
  width: 268.28px;
  height: 77.96px;
}
.cardFrontChild1 {
  top: -0.82px;
  left: -0.57px;
  width: 143.57px;
  height: 99.82px;
}
.cardFrontChild2,
.cardFrontChild3 {
  position: absolute;
  top: 5.01px;
  left: 16px;
  width: 437.17px;
  height: 76.99px;
}
.cardFrontChild3 {
  top: -0.92px;
  left: 1.6px;
  width: 331.4px;
  height: 146.92px;
}
.cardFront,
.cardFrontChild4 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 428.25px;
  height: 111.97px;
}
.cardFront {
  top: 4751px;
  left: 933px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 456px;
  height: 255px;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-400);
  font-family: var(--font-roboto);
}
.cardBackIcon {
  position: absolute;
  top: 4918px;
  left: 1196px;
  width: 463px;
  height: 263px;
  mix-blend-mode: normal;
}
.symbolsFacebook {
  position: absolute;
  height: 0.33%;
  width: 1.39%;
  top: 70.36%;
  right: 31.22%;
  bottom: 29.31%;
  left: 67.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon {
  position: relative;
  width: 22.82px;
  height: 19px;
}
.blankLine {
  margin: 0;
  font-size: var(--font-size-xs);
}
.comeToOurContainer {
  position: absolute;
  top: 5127px;
  left: 1332px;
  line-height: 124.5%;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 192px;
  height: 42px;
  font-size: var(--font-size-2xs);
}
.chattingComment {
  position: absolute;
  height: 0.83%;
  width: 3.47%;
  top: 91.52%;
  right: 68.98%;
  bottom: 7.65%;
  left: 27.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.macbookPro161Child20,
.macbookPro161Child21 {
  position: absolute;
  top: 6597px;
  left: 521px;
  width: 245px;
  height: 234px;
  mix-blend-mode: hue;
}
.macbookPro161Child21 {
  top: 6475px;
  left: 606px;
  width: 332px;
  height: 295px;
  opacity: 0.8;
}
.macbookPro161 {
  position: relative;
  background-color: rgba(4, 4, 4, 0.84);
  width: 100%;
  height: 7241px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-open-sans);
}
