.frameChild,
.frameItem {
  position: absolute;
  top: 43px;
  left: 43px;
  background-color: var(--color-gold-100);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  width: 549px;
  height: 558px;
  mix-blend-mode: normal;
}
.frameItem {
  top: 32px;
  left: 32px;
  background-color: var(--color-gray-100);
}
.logIn {
  position: absolute;
  top: 187px;
  left: 234px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 145px;
  height: 46px;
}
.frameInner,
.rectangleDiv {
  position: absolute;
  top: 271px;
  left: 144px;
  background-color: #556693;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #f8be01;
  box-sizing: border-box;
  width: 318px;
  height: 56px;
}
.rectangleDiv {
  top: 337px;
  left: 148px;
  background-color: #556693;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #f8be01;
  box-sizing: border-box;
  width: 318px;
  height: 56px;
}
.continueWithFacebook,
.continueWithGoogle {
  position: absolute;
  top: 284px;
  left: 196px;
  display: inline-block;
  width: 256px;
  height: 30px;
}
.continueWithGoogle {
  top: 348px;
  width: 226px;
  height: 22px;
}
.pngwing1Icon,
.pngwing2Icon {
  position: absolute;
  left: 163px;
  width: 33px;
  object-fit: cover;
}
.pngwing1Icon {
  top: 352px;
  height: 27px;
  mix-blend-mode: normal;
}
.pngwing2Icon {
  top: 281px;
  height: 33px;
}
.rectangleParent {
  position: relative;
  background-color: #242322;
  width: 620px;
  height: 637px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-laila);
}
