.communityBackground {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gold);
  width: 1920px;
  height: 835px;
}
.tweetBackgroundIcon {
  position: absolute;
  top: 179px;
  left: 324px;
  border-radius: var(--br-2xs);
  width: 1228px;
  height: 536px;
  object-fit: cover;
}
.tweet {
  position: absolute;
  top: 526px;
  left: 569px;
  background-color: var(--color-white);
  box-shadow: 0 4px 59px 9px rgba(0, 0, 0, 0.05);
  width: 738px;
  height: 250px;
}
.avatarIcon,
.textOfTweet {
  position: absolute;
  left: 602px;
}
.avatarIcon {
  top: 551px;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.textOfTweet {
  top: 636px;
  display: inline-block;
  width: 679px;
  height: 82px;
}
.slide1Icon,
.slide2Icon {
  position: absolute;
  top: 224px;
  left: 1677px;
  border-radius: var(--br-2xs);
  width: 243px;
  height: 446px;
  object-fit: cover;
}
.slide1Icon {
  left: 0;
  width: 210px;
}
.jessicaJones {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hijessi {
  margin: 0;
  color: var(--color-gray-400);
}
.jessicaJonesHijessiContainer {
  position: absolute;
  top: 563px;
  left: 698px;
  display: inline-block;
  width: 214px;
  height: 62px;
}
.span {
  color: var(--color-black);
}
.twitterForAndroid {
  color: var(--color-deepskyblue);
}
.twitterForAndroidContainer {
  position: absolute;
  top: 729px;
  left: 605px;
  display: inline-block;
  width: 394px;
  height: 34px;
  color: var(--color-gray-400);
}
.ourCommunity {
  position: absolute;
  top: 66px;
  left: 676px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  text-align: center;
  width: 524px;
  height: 54px;
}
.tweetAndCommunity {
  position: relative;
  width: 1920px;
  height: 835px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
