@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-laila: Laila;
  --font-poppins: Poppins;
  --font-open-sans: "Open Sans";
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-2xs: 12px;
  --font-size-xs: 15px;
  --font-size-sm: 16px;
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 25px;
  --font-size-2xl: 30px;
  --font-size-3xl: 35px;
  --font-size-4xl: 36px;
  --font-size-5xl: 40px;
  --font-size-6xl: 50px;
  --font-size-7xl: 70px;
  --font-size-8xl: 150px;

  /* Colors */
  --color-gray-100: #282826;
  --color-gray-200: rgba(0, 0, 0, 0.81);
  --color-gray-300: rgba(0, 0, 0, 0.52);
  --color-gray-400: rgba(255, 255, 255, 0.8);
  --white: #fff;
  --color-darkslategray-100: #3e4965;
  --text-color: #39425d;
  --color-black: #000;
  --color-gold-100: #ffc300;

  /* border radiuses */
  --br-3xs: 15px;
  --br-2xs: 20px;
  --br-xs: 33px;
  --br-sm: 43px;
  --br-md: 55px;
  --br-lg: 65px;
  --br-xl: 68px;
  --br-2xl: 69px;
  --br-3xl: 89px;
}
